<% if @restaurants.any? %>

  <% @restaurants.each do |restaurant| %>
    <%= image_tag restaurant.image.url(:medium) %>
    <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
    <h4><%= restaurant.description %></h4>
    <h3>Average rating: <%= star_rating(restaurant.average_rating) %></h3>
    <ul>
      <% restaurant.reviews.each do |review |%>
        <li><%= review.thoughts %></li>
        <li><%= review.rating %>
          <br />
          <%= link_to "Endorse Review", review_endorsements_path(review), class: 'endorsements-link' %>
          <span class="endorsements_count"><%= review.endorsements.count %> </span>
          <span class="endorsements_word"><%= 'endorsement'.pluralize(review.endorsements.count) %></span>
        </li>
      <% end %>
    </ul>
    <h3><%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %></h3>
    <h3><%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %></h3>
    <% if (!current_user.nil?) && (!current_user.has_reviewed? restaurant) %>
    <h4><%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %></h4>
  <% end %>
  <% end %>

<% else %>

  <p>"No restaurants yet"</p>

<% end %>

<%= link_to "Add a restaurant", controller: "restaurants", action: "new" %>
